 .body-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  /* border: 2px solid red; */
}

.intro-container {
  display: flex;
  flex-direction: column; 
}

.intro {
  font-size: 3rem;
}

.title {
  font-size: 2rem;
}

.about-me {
  margin-top: 2rem;
}

.pic-container {
  max-width: 50%;
  height: auto;
}

.pic {
  max-width: 100%;
  height: auto;
}

/* .wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;  
  border: 2px solid green;
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 2px solid yellow;
}

.picture {
  max-width: 50%; 
  height: auto;
  border: 2px solid blue;
  margin-left: 2rem; 
}  */
