.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name, .list {
  margin-top: 1rem;
}

.list-item {
  margin-left: 1rem;
  min-width: 5vw;
  padding: .5rem;
  border: 1px solid;
  box-shadow: 0 0 10px 2px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  transition: ease-in-out 0.3s;
}

.list-item:hover {
  transform: translateY(5px);
}