.skills-container {
  text-align: center;
  margin-top: 4%;
}

.skills-container h2 {
  margin-bottom: 3%;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  margin: 20px;
  text-align: center;
  width: 150px; /* Example fixed width for containers */
  height: 150px; /* Example fixed height for containers */
  margin-bottom: 5%;
}

.skill p {
  font-size: 1.3rem;
}

.skill img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 10px 3px rgb(141,31,254);
  transition: transform ease-in-out 0.3s;

}

.skill img:hover {
  transform: translateY(-5px);
}
